# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# HeadlessMC
/HeadlessMC/
/headlessmc-launcher/HeadlessMC/
/headlessmc-launcher-jfx/HeadlessMC/

# Created by some launcher tests
/headlessmc-launcher/test/
/test/

# Created by LaunchWrapper tests
/headlessmc-lwjgl/logs/
/logs/
/headlessmc-launcher-*.jar
