name: Gradle Build

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: |
          ./gradlew build

      - name: List files
        run: ls

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: HeadlessMc
          path: ./build/libs/headlessmc-*.jar
